@import "variables";
@import "bootstrap";
@import "fonts";

body {
	color: white
}

.buttton_in_nv {
	background: #23A6F0;
	border-radius: 6px;
	border: none;
	color: white;
	font-weight: lighter;
}

.font_nv {
	color: white;
	font-weight: normal;
}

.bg_header_image {
	background: url("../src/images/Header_background.jpg") no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}

.bg_header_image::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(90deg, black, transparent);
	opacity: 1;
	z-index: -1;
}

.header_title {
	font-size: 70px;
	font-weight: bold;
}

.header_title_conteiner {
	margin-top: 156px;
	margin-left: 40px;
}

.header_addition {
	margin-left: 40px;
	margin-top: 35px;
	font-size: 29px;
}

.Botton_get_quote {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 40px;
	margin-top: 20px;
	background: #23A6F0;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: lighter
}

.Botton_learn_more {
	padding: 13px 40px;
	margin-top: 20px;
	border-color: white;
	background: transparent;
	border-radius: 25px;
	color: white;
	font-weight: lighter
}

.features {
	background: #252B42;
	padding: 100px 0;
	font-weight: lighter;
}

.features h5 {
	font-weight: inherit;

}


.box_img {
	padding: 37px 30px;
}

.feedback {
	background: #8EC2F2;
}

.paragraf_feedback {
	font-size: 14px;
}

.head_feedback {
	font-size: 40px;
	margin-top: 112px;
}

.row_feedback {
	padding: 0 68.5px;
}

.feedback__content {
	padding: 30px 40px;
	background: white;
	color: #252B42;
	margin: 40px 30px 40px 100px;
	position: relative;
}

.feedback_info {
	margin-bottom: 40px;
}

.user_feedback {
	position: absolute;
	top: 30px;
	left: -40px;
}

.info {
	background: #252B42;
}

.info_content_img {
	background: url("../src/images/post_1.jpg");
	position: relative;
}

.info_content_twoimg {
	background: url("../src/images/post_2.jpg");
	position: relative;
}

.info_content_threeimg {
	background: url("../src/images/post_3.jpg");
	position: relative;
}

.info_content_fourimg {
	background: url("../src/images/post_4.jpg");
	position: relative;
}

.info_content_img::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;
}

.info_content_twoimg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;

}

.info_content_threeimg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;

}

.info_content_fourimg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;
}

.header_info {
	padding-top: 278.5px;
	font-weight: 600;
	font-size: 14px;
}

.paragraf_info {
	font-weight: 500;
	font-size: 20px;
	padding-right: 32px;
}

.info_block {
	padding-left: 24px;
	padding-bottom: 5px;
}

.button_viev_project {
	background: #23A6F0;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 10px 36px;
	margin-left: 20px;
	margin-bottom: 13px;
	font-weight: 500;
	font-size: 14px;
}

.allinfo {
	padding: 70px 0 112px 0;
}

.card-item {
	background: white;
	border-radius: 7px;
	padding: 35px 40px;
	width: 327px;
	height: 689px;


}

.card_h3 {
	color: #252B42;
	margin-bottom: 35px;
}

.card_h5 {
	color: #737373;
	margin-bottom: 35px;
}

.paragraf_inf {
	margin-bottom: 106px;
}

.price {
	color: #23A6F0;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 35px;
}

.price-dop {
	color: #8EC2F2;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 35px;
}

.button_price {
	background: #23A6F0;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	width: 246px;
	height: 52px;
	border: none;
}

.list_adv {
	color: #252B42;
	font-weight: 600;
	font-size: 30px;
}

.price_h6 {
	margin-bottom: 4px;
	text-align: left;
}


.star_color_price {

}


.block_price {
	display: flex;
	align-items: center;
	gap: 10px;
}

.block_price:not(:last-child) {
	margin-bottom: 16px;
}

.card_block {
	padding-bottom: 36px;
	position: relative;
}

.circle_new {
	position: absolute;
	top: -65px;
	left: 180px;
}
