@import "variables";
@import "bootstrap";
@import "fonts";

body {
	color: white
}

.buttton_in_nv {
	background: #23A6F0;
	border-radius: 6px;
	border: none;
	color: white;
	font-weight: lighter;
}

.font_nv {
	color: white;
	font-weight: normal;
}

.bg_header_image {
	background: url("../src/images/Header_background.jpg") no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}

.bg_header_image::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(90deg, black, transparent);
	opacity: 1;
	z-index: -1;
}

.header_title {
	font-size: 70px;
	font-weight: bold;
}

.header_title_conteiner {
	margin-top: 156px;
	margin-left: 40px;
}

.header_addition {
	margin-left: 40px;
	margin-top: 35px;
	font-size: 29px;
}

.Botton_get_quote {
	padding: 15px 25px;
	margin-left: 40px;
	margin-top: 20px;
	background: #23A6F0;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: lighter
}

.Botton_learn_more {
	padding: 13px 40px;
	margin-top: 20px;
	border-color: white;
	background: transparent;
	border-radius: 25px;
	color: white;
	font-weight: lighter
}

.features {
	background: #252B42;
	padding: 100px 0;
	font-weight: lighter;
}

.features h5 {
	font-weight: inherit;

}


.box_img {
	padding: 37px 30px;
}

.feedback {
	background: #8EC2F2;
}

.paragraf_feedback {
	font-size: 14px;
}

.head_feedback {
	font-size: 40px;
	margin-top: 112px;
}

.row_feedback {
	padding: 0 68.5px;
}

.feedback__content {
	padding: 30px 40px;
	background: white;
	color: #252B42;
	margin: 40px 30px 40px 100px;
	position: relative;
}

.feedback_info {
	margin-bottom: 40px;
}

.user_feedback {
	position: absolute;
	top: 30px;
	left: -40px;
}

.info {
	background: #252B42;
}

.info_content_img {
	background: url("../src/images/post_1.jpg");
	position: relative;
}

.info_content_twoimg {
	background: url("../src/images/post_2.jpg");
	position: relative;
}

.info_content_threeimg {
	background: url("../src/images/post_3.jpg");
	position: relative;
}

.info_content_fourimg {
	background: url("../src/images/post_4.jpg");
	position: relative;
}

.info_content_img::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;
}

.info_content_twoimg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;

}

.info_content_threeimg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;

}

.info_content_fourimg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(60deg, black, transparent);
	opacity: 0.8;
}

.header_info {
	padding-top: 278.5px;
	font-weight: 600;
	font-size: 14px;
}

.paragraf_info {
	font-weight: 500;
	font-size: 20px;
	padding-right: 32px;
}

.info_block {
	padding-left: 24px;
	padding-bottom: 5px;
}

.button_viev_project {
	background: #23A6F0;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 10px 36px;
	margin-left: 20px;
	margin-bottom: 13px;
	font-weight: 500;
	font-size: 14px;
}

.allinfo {
	padding: 70px 0 112px 0;
}

.card-item {
	background: white;
	border-radius: 7px;
	padding: 35px 40px;
	width: 327px;
	height: 689px;


}

.card_h3 {
	color: #252B42;
	margin-bottom: 35px;
}

.card_h5 {
	color: #737373;
	margin-bottom: 35px;
}

.paragraf_inf {
	margin-bottom: 106px;
}

.price {
	color: #23A6F0;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 35px;
}

.price-dop {
	color: #8EC2F2;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 35px;
}

.button_price {
	background: #23A6F0;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	width: 246px;
	height: 52px;
	border: none;
}

.list_adv {
	color: #252B42;
	font-weight: 600;
	font-size: 30px;
}

.price_h6 {
	margin-bottom: 4px;
	text-align: left;
}

.block_price {
	display: flex;
	align-items: center;
	gap: 10px;
}

.block_price:not(:last-child) {
	margin-bottom: 16px;
}

.card_block {
	padding-bottom: 36px;
	position: relative;
}

.circle_new {
	position: absolute;
	top: -65px;
	left: 180px;
}

.price_section {
	background: #252B42;
	padding-bottom: 141px;
}

.appli_item {
	color: #252B42;
	margin: 0 0 40px 0;
}

.appli_h2 {
	font-size: 40px;
	font-weight: 700;
}

.appli_h5 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 2px;
}

.bg_appli_image {
	background: url("../src/images/back_appli.jpg") no-repeat;
	background-size: cover;
	padding: 90px 0 90px 0;
}

.inputs {
	color: #737373;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #E6E6E6;
	outline: none;
	padding: 10px 30px;
	width: 100%;
	height: 50px;
}

.allpi_card {
	padding-bottom: 20px;
}


.select {
	appearance: none;
	background-color: transparent;
	border: 1px solid #DDDDDD;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	color: #737373;
	padding: 10px 20px;

}

.select_wraper {
	position: relative;
}

.select_wraper::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;
	width: 0;
	height: 0;
	border-width: 12px 6px 0 6px;
	border-color: #737373 transparent transparent transparent;
	border-style: solid;
}

.select_time {
	font-weight: 600;
	font-size: 14px;
	color: #BDBDBD;
	padding: 10px 20px;
	width: 100%;
	height: 50px;
}

.select_card {
	padding-bottom: 20px;
}

.ta_message {
	resize: none;
	border: 1px solid #BDBDBD;
	border-radius: 5px;
	margin-bottom: 55px;
	outline: none;
	padding: 16px 26px;
	width: 100%;
	height: 140px;
}

.button_apli {
	background: #23A6F0;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	width: 246px;
	height: 52px;
	border: none;
}

.footer_1h3 {
	color: #252B42;
	font-weight: 700;
	font-size: 24px;
}

.footer-1p {
	color: #737373;
	font-weight: 500;
	font-size: 14px;
}

.footer-1 {
	padding: 40px 0;
	background: #FFFFFF;
}

.button_f {
	height: 52px;
	width: 160px;
	background: #23A6F0;
	border-radius: 5px;
	color: #FFFFFF;
	border: none;
	font-weight: 700;
	font-size: 14px;
}

.footer-2 {
	background: #252B42;
	padding: 50px 0 50px 0;

}

.nav_footer {
	list-style-type: none;
}

.h5_footer {
	margin-bottom: 20px;
}

.li_footer {
	margin-bottom: 10px;
}

.footer_3 {
	color: #737373;
	padding: 25px 0 10px 0;
}

.img_foot {
}

.star_color_price {
	margin-right: 22px;
}
